<div class="container">
    <div class="row">
        <div class="col-xs-2">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation"><a href="#/home">Commitments</a></li>
                <li role="presentation"><a href="#/myfamily">My Family</a></li>
                <li role="presentation" class="active"><a>Settings</a></li>
            </ul>
            <div class="sign-out">
                <a href="" ng-click="logout()">Sign Out</a>
            </div>
        </div>
        <div class="col-xs-8 main-background">
            TBD
        </div>
    </div>
</div>
